.create-an-account {
  margin: 0;
  width: 209px;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.01em;
  line-height: 150%;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
}
.sign-up-call-to-action {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 41px 0 41.5px;
}
.enter-your-email {
  align-self: stretch;
  position: relative;
  font-size: var(--small-text-size);
  line-height: 150%;
}
.desktop-1-inner,
.sign-up-call-to-action-parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.sign-up-call-to-action-parent {
  flex: 1;
  flex-direction: column;
  gap: 4px;
}
.desktop-1-inner {
  width: 400px;
  flex-direction: row;
  padding: 0 54px;
  box-sizing: border-box;
  max-width: 100%;
  font-size: 24px;
  color: var(--color-black);
}
.label {
  width: 100%;
  border: 0;
  outline: 0;
  font-weight: 500;
  font-family: var(--small-text);
  font-size: var(--body-text-size);
  background-color: transparent;
  height: 30px;
  flex: 1;
  position: relative;
  line-height: 150%;
  color: var(--color-gray);
  text-align: left;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 221px;
  max-width: 100%;
  padding: 0;
}
.field {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 5px 15px;
  max-width: 100%;
}
.primary {
  position: relative;
  font-size: var(--small-text-size);
  line-height: 150%;
  font-weight: 500;
  font-family: var(--small-text);
  color: var(--color-white);
  text-align: left;
}
.button,
.field-parent {
  display: flex;
  align-items: flex-start;
}
.button {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) var(--padding-xl);
  background-color: var(--color-black);
  align-self: stretch;
  border-radius: var(--br-5xs);
  flex-direction: row;
  justify-content: center;
  white-space: nowrap;
}
.button:hover {
  background-color: #333;
}
.field-parent {
  width: 400px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
  max-width: 100%;
}
.frame-child {
  align-self: stretch;
  height: 1px;
  position: relative;
  background-color: var(--color-gainsboro-100);
}
.rectangle-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs-5) 0 0;
  box-sizing: border-box;
  min-width: 84px;
}
.or-continue-with {
  width: 123px;
  position: relative;
  line-height: 150%;
  display: inline-block;
  min-width: 123px;
}
.frame-item {
  align-self: stretch;
  height: 1px;
  position: relative;
  background-color: var(--color-gainsboro-100);
}
.frame-parent,
.rectangle-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-container {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-xs-5) 0 0;
  box-sizing: border-box;
  min-width: 84px;
}
.frame-parent {
  width: 400px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 8px;
  max-width: 100%;
}
.google-icon {
  width: 20px;
  height: 20px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.google-wrapper {
  height: 22px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 2px 0 0;
  box-sizing: border-box;
}
.secondary {
  position: relative;
  font-size: var(--small-text-size);
  line-height: 150%;
  font-weight: 500;
  font-family: var(--small-text);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 55px;
}
.button1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) 14px;
  background-color: #eee;
  width: 400px;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  gap: 138.5px;
  max-width: 100%;
}
.privacy-policy,
.terms-of-service {
  color: var(--color-black);
}
.by-clicking-continue-container {
  width: 400px;
  position: relative;
  line-height: 150%;
  display: inline-block;
  max-width: 100%;
}
.desktop-1 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-309xl) var(--padding-xl) var(--padding-309xl) 98px;
  box-sizing: border-box;
  gap: 24px;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--small-text-size);
  color: var(--color-gray);
  font-family: var(--small-text);
}
@media screen and (max-width: 525px) {
  .desktop-1 {
    padding-left: 49px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .create-an-account {
    font-size: 19px;
    line-height: 29px;
  }
  .desktop-1-inner {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .label {
    font-size: var(--small-text-size);
    line-height: 24px;
  }
  .desktop-1 {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
}
